/* box-sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.25em;
}

.container {
  display: grid;
  grid-row-gap: 10px;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.page-header {
  grid-row: 1 / 2;
}

.content {
  grid-row: 2 / 3;
}

.secondary-panel {
  grid-row: 3 / 4;
}

.page-footer {
  grid-row: 4 / 5;
}

.page-header {
  background-color: aliceblue;
  padding: .5rem 1rem;
}
.secondary-panel {
  background-color: #f1f1f1;
  padding: .5rem 1rem;
}
.page-footer {
  background-color: palegreen;
  padding: .5rem 1rem;
}
.chapter-designation {
  display: block;
  font-size: .8em;
  margin-bottom: .5rem;
}

@media (min-width: 550px) {

  .container {
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 2em;
    grid-row-gap: 20px;
  }

  .page-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .secondary-panel {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .page-footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}